<!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
	
	<!-- CSS -->
	<!--
	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	-->
	
	<link rel="stylesheet" href="{{ site.baseurl }}/GitHub2.css">

	<!-- Icons -->
	<!--
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
	<link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
	-->
  </head>
  <body>
	<div class="container content">
		<h1>{{ page.title}}</h1>		

		<!-- add categories and tags for the post -->
		{% include cat_tag.html %}

		<!-- blog comment goes here -->
		{{ content }}
		
		<!-- disqus comment goes here -->
		{% include comments.html %}
		
		<!-- for google analytics -->
		{% include googleAnalytics.html %}
		
		<!-- footer -->
		<!-- 
		<footer class="footer">
			<small>
			  &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
			</small>
		</footer>
		-->
	
	</div>
  </body>
  </html>
